body {
	background: url(wood1.jpg);
}

.header {
	width: 100%;          /*я добавил процент, чтобы на всю ширину растягивалось*/
	height: 220px;
	background: url(grass.jpg);
	padding-left: 10px;
	padding-top: 10px;
}

.sidebar {
	width: 20%;
	border: 1px solid white;
	float: left;
	margin-top: 15px;
	background-color: hsla(129, 60%, 56%, 0.29);
}

.content {

	width: 78%;
	border: 1px solid white;
	float: left;
	margin-left: 10px;
	margin-top: 15px;
	background-color: #fbf7f78c;
}


h1 {
	font-family: Roboto, Arial, Tahoma, sans-serif;
	font-size: 50px;
	color: white;
	text-shadow: 0 0 5px;
}

h2 {
	font-family: Roboto, Arial, Tahoma, sans-serif;
	color: #397803;
	font-size: 35px;
	text-shadow: white 0 0 4px;            /*классное свойство*/
	padding-left: 5px;
}

p, ul, ol, th, td, input, span, textarea, button, img {    /*можно так сделать, можно было также через класс*/
	font-family: Roboto, Arial, Tahoma, sans-serif;
	font-size: 20px;
	text-shadow: white 0 0 1px;
	margin-left: 5px;
	margin-right: 5px;	
}

#text-white {
	color: white;
}

table {
	border-collapse: collapse;
	text-align: center;
	margin-left: 5px;
}

td, tr {
	padding: 10px;
	border: 2px solid green;
}

th {
	font-weight: 750;
	border: 2px solid green;
}

button {
	border-radius: 16px;
	padding: 10px 20px 10px 20px;
	background: linear-gradient(to top, lightgreen, darkgreen);   /*За градиент хвалю. Шикарно*/
	margin-bottom: 20px;
	cursor: pointer;
}


.video-container {
    position: relative;
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
  
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


